.background_3{
    z-index: -1;
    position:absolute;
    width: 100%;
    height: 100vh;
    overflow:hidden
}
.background_3 div{
    position:absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
}
.background_3 div:nth-child(2n+1){
    background-color: transparent;
    border: 6px solid rgba(79, 195, 220,0.8);
}
.background_3 div:nth-child(2n+2){
    background-color: transparent;
    border: 6px solid rgba(255, 45, 117,0.8);
}

.background_3 div:nth-child(10){
    top: 20%;
    left: 80%;
    animation: anim_square 5s linear infinite;
}
.background_3 div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: anim_square 10s linear infinite;
}
.background_3 div:nth-child(2){
    top: 70%;
    left: 50%;
    animation: anim_square 7s linear infinite;
}
.background_3 div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: anim_square 9s linear infinite;
}
.background_3 div:nth-child(4){
    top: 20%;
    left: 60%;
    animation: anim_square 10s linear infinite;
}
.background_3 div:nth-child(5){
    top: 67%;
    left: 10%;
    animation: anim_square 6s linear infinite;
}
.background_3 div:nth-child(6){
    top: 80%;
    left: 70%;
    animation: anim_square 12s linear infinite;
}
.background_3 div:nth-child(7){
    top: 60%;
    left: 80%;
    animation: anim_square 15s linear infinite;
}
.background_3 div:nth-child(8){
    top: 32%;
    left: 25%;
    animation: anim_square 16s linear infinite;
}
.background_3 div:nth-child(9){
    top: 90%;
    left: 25%;
    animation: anim_square 9s linear infinite;
}
@keyframes anim_square{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity:1;
    }
    100%{
        transform: scale(1.1) translateY(-90px) rotate(360deg);
        opacity:0;
    }
}
