*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    z-index: -100;
    height: 100vh;
    background: #0c192c;
}
.background_1{
    position:relative;
    width: 100%;
    height: 100vh;
    overflow:hidden
}
.bubbles{
    z-index: -100;
    position:relative;
    display:flex;
}
.bubbles span{
    position:relative;
    width: 10vw;
    height: 10vh;
    background : #4fc3dc;
    margin: 0 0.8vw;
    border-radius: 80vh;
    box-shadow: 0 0 1vh #4fc3dc44,
    0 0 5vh #4fc3dc,
    0 0 10vh #4fc3dc;
    animation:animate 15s linear infinite;
    animation-duration: calc(200s/ var(--i));
}
.bubbles span:nth-child(even){
    background : #ff2d75;
    box-shadow: 0 0 1vh #ff2d7544,
    0 0 5vh #ff2d75,
    0 0 10vh #ff2d75;
}
@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
    }

    100%{
        transform: translateY(-10vh) scale(1);
    }
}