.troisieme_page{
    z-index: 998;
    background-color: rgb(7, 2, 27);
    width: 100vw;
    height: 100vh;
    position: relative;
  }
.container3{
    margin-top: 7.5vh;
    margin-left: 5vw;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    width: 90vw;
    position: absolute;
    top: 0;
    font-family: 'Montserrat', sans-serif;
  }
.ligne_1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 42.5vh;
    width: 90vw;
    position: absolute;
    top: 0;
  }
.ligne_2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 42.5vh;
    width: 90vw;
    position: absolute;
    top: 42.5vh;
  }
.s1{
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #080808a5;
    box-shadow: 0 0 5px #fff;
    height: 30vh;
    width: 30vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor : pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.s1:hover{
    scale: 1.04;
    transition: 0.5s;
    background-color: rgba(79, 195, 220,0.4);
    box-shadow: 0 0 15px #fff;
}
.s2{
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #080808a5;
    box-shadow: 0 0 5px #fff;
    height: 30vh;
    width: 30vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor : pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.s2:hover{
    scale: 1.04;
    transition: 0.5s;
    background-color: rgba(255, 45, 117,0.4);
    box-shadow: 0 0 15px #fff;
}
.s3{
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #080808a5;
    box-shadow: 0 0 5px #fff;
    height: 30vh;
    width: 30vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor : pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.s3:hover{
    scale: 1.04;
    transition: 0.5s;
    background-color: rgba(79, 195, 220,0.4);
    box-shadow: 0 0 15px #fff;
}
.s4{
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #080808a5;
    box-shadow: 0 0 5px #fff;
    height: 30vh;
    width: 30vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor : pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.s4:hover{
    scale: 1.04;
    transition: 0.5s;
    background-color: rgba(255, 45, 117,0.4);
    box-shadow: 0 0 15px #fff;
}
.s5{
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #080808a5;
    box-shadow: 0 0 5px #fff;
    height: 30vh;
    width: 30vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor : pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.s5:hover{
    scale: 1.04;
    transition: 0.5s;
    background-color: rgba(79, 195, 220,0.4);
    box-shadow: 0 0 15px #fff;
}
.s6{
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #080808a5;
    box-shadow: 0 0 5px #fff;
    height: 30vh;
    width: 30vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor : pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.s6:hover{
    scale: 1.04;
    transition: 0.5s;
    background-color: rgba(255, 45, 117,0.4);
    box-shadow: 0 0 15px #fff;
}

.container3 p{
    color: #fff;
    font-size: 20vh;
    font-weight: 600;
  }

.text3eme p {
    color: #fff;
    font-size: 2.5vh;
    font-weight: 600;
    text-align: center;
    margin-top: 1vh;
}

