.footer{
    z-index: 10000;
    width:100vw;
    height:10vh;
    position:fixed;
    display:flex;
    justify-content:center;
    bottom:0;

}
.footer img{
    /* filtre pour que l'opacité de l'image soit a 70% */
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(70%) contrast(100%);
    width: 7vh;
    height: 7vh;
    /* cursor change to clickable */
    cursor: pointer;
    /* animation */
    animation: transform_img 1s ease-in-out infinite;
    
}
#img_footer_top{
    display: none;
}
.footer img:hover{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);

}
@keyframes transform_img{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
