.deuxieme_page{
    z-index: 998;
    background-color: rgb(12, 12, 12);
    width: 100vw;
    height: 100vh;
    position: relative;
  }

.container {
    border: 1px solid #4fc3dc;
    box-shadow: 0 0 1vh #4fc3dc44,
    0 0 2vh #4fc3dc,
    0 0 3vh #4fc3dc;
    border-radius: 2vh;
    margin-top: 20vh;
    margin-left: 15vw;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 70vw;
    position: absolute;
    top: 0;
    background-color: rgba(12, 12, 12,0.98);
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 1000px) {
    .container {
        margin-top: 10vh;
        margin-left: 5vw;
        height: 70vh;
        width: 90vw;
    }
}
@media screen and (max-width: 768px) {
    .container {
        margin-top: 10vh;
        margin-left: 5vw;
        height: 80vh;
        width: 90vw;
    }
}
    

.titre_texte{
    display: relative;
    margin-top: 2vh;
}
.texte{
    display: relative;
    margin-top: 2vh;
}
.container h1 {
    font-weight: 1000;
    color: white;
    font-size: 7vh;
    transition: color 0.3s ease-in-out;
}
.container p {
    padding: 0 1vw;
    color: white;
    font-size: 2.3vh;
    transition: color 0.3s ease-in-out;
    margin-bottom: 5vh;
}
.underlined{
    /* souligne le texte */
    color: #ff2d75;

    text-decoration-color: #ff2d75;
}
.cv{
    z-index: 1000;
    display: relative;
    background-color: rgba(12, 12, 12,0);
    border: 1px solid #ff2d75;
    box-shadow: 0 0 0.2vh #ff2d7544,
    0 0 0.4vh #ff2d75,
    0 0 0.6vh #ff2d75;
    border-radius: 2vh;
    padding: 1vh 2vw;
    color: white;
    font-size: 2.3vh;
    font-weight: 1000;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    cursor : pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.cv a{
    z-index: 1000;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
}
.cv:hover{
    background-color: #ff2d75;
    color: black;
    transition: background-color 0.3s ease-in-out;
}
.cv:hover a{
    color: black;
    transition: background-color 0.3s ease-in-out;
}